@charset "utf-8";
/*GAME*/
body{overflow: hidden;}

.skip_div{
	width: 100%;
	margin: 0 auto;
	position: fixed;
	bottom: 10px;
	right: 4px;
}
.skip_div a{
	text-decoration: none;
	color: #FFF;
}
.skip_div a p{
	border: 1px solid #fff;
	font-size: 10px;
	font-weight: 400;
	color: #FFF;
	padding:1px 1em;
	margin: 0;
	margin-right: 0;
	display: inline;
}
#container_g0{
	position: fixed;
	width:100%;
	height: 100%;
	top:auto;
	bottom: 40px;
	left: 0;right: 0;margin:0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 430px) {
	.main{padding-top: 70px;}
}
/*
@media screen and (max-width: 414px) {
	.main{padding-top: 70px;}
}
@media screen and (max-width: 390px) {
	.main{padding-top: 70px;}
}
*/
@media screen and (max-width: 375px) {
	.main{padding-top: 30px;}
}
@media screen and (max-width: 360px) {
	.main{padding-top: 50px;}
}